<div class="row">
    <div class="col-xs-12" *ngIf="(editMode && item) || (!editMode && !item)">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12" style="margin-top: 10px">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input
                                type="text"
                                id="title"
                                formControlName="title"
                                class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status"
                                formControlName="status"
                                class="form-control"
                        >
                            <option value="PENDING">PENDING</option>
                            <option value="DONE">DONE</option>
                            <option value="ARCHIVED">ARCHIVED</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="padding: 0">
                <button
                        class="btn btn-success"
                        type="submit"
                        [disabled]="!itemForm.valid">Save
                </button>
                <button
                        class="btn btn-danger margin-left-15"
                        type="button"
                        (click)="onCancel()">Cancel
                </button>
                <button
                        *ngIf="id"
                        class="btn btn-danger margin-left-15"
                        type="button"
                        (click)="onDeleteItem()">Delete
                </button>
            </div>
        </form>
    </div>
</div>