<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="form-group">
                <input id="search" class="form-control" #searchInput (keyup)="onChangeSearchText(searchInput)" placeholder="Search"/>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <button
                        class="btn btn-primary"
                        (click)="onNavigateToAddItem()">
                    Add
                </button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>What To Do</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listItems">
            <td>{{ item.id }}</td>
            <td class="editable-column" (click)="editItem(item)">{{ item.title }}</td>
            <td>{{ item.status }}</td>
        </tr>
        </tbody>
    </table>
</div>